body {
  background: ;
}


.rr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  height: 3em;
  width: 100%;
  border: 2px solid #173459;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input::placeholder {
  color: black;
}

input:hover {
  background-color: grey;
}

select {
  outline: none;
  border: none;
  background: #173459;
  color: white;
  padding: 10px;
  border-radius: 6px;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  background: grey;
  color: white;
}

input[type="checkbox"]:checked + label > span, input[type="radio"]:checked + label > span {
  background: #0076ff;
}

input[type="checkbox"], input[type="radio"] {
  display: none;
  /* hide the default check boxes and radios */
}



label > span {
  display: inline-block;
  width: 15px;
  height: 10px;
  border: 3px solid #0076ff;
  border-radius: 50%;
  margin-right: 30px;
}
label {
  color: black;
  font-size: 20px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  height: 10px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

legend {
  font-weight: bold;
  margin: 5px 0;
  margin-bottom: 7mm;
}
legend > span {
  margin: 4px;
}



fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #034873;
  width:  580px;
}

.w {
  width: 88%;
}

.bio {
outline: none;
margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #0076ff;
  border-radius: 10px;
  background: #032859;
  color: white;
}

#biob {
  color: #fff;
}

#im {
  margin-top: 10px;
}

.h {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  width: 20rem;
  background: #032859;
  border-radius:30px;
  padding: 2px;
  color: white; 
  padding: 10px 20px;
  margin: 13px;
  font-size: 30px;
  
}



 button{
  border: none;
 font-size: 25px;
  text-align: center;
  font-family: Monospace;
  padding: 15px 30px;
  margin: 30px;
  background-color: #032859;
  border-radius: 50px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  color: brown;
  background-color: lemonchiffon;
}

.btn {
  text-align: center;
  
}

#message {
  display:;
  background: #f1f1f1;
  color: #000;
  margin: 10px;
  position: relative;
  margin-top: 10px;
}


#message p,h3,b{
  padding: 10px 35px;
  font-size: 25px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}
 p, b{
  font-size: 16px;
  line-height: 9px;
}

.invalid:before {
  position: relative;
  left: -35px;
  content:;
}

textarea {
  height: 110px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 60%;

}

